@page "/servers"
@using ServerManagement.Components.Controls
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Servers</h3>
<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection"></CityListComponent>

<br />

<SearchComponent 
SearchServerCallback="HandleSearch"
@ref="searchComponent"
></SearchComponent>

<br />

<ServerListComponent 
@rendermode="InteractiveServer"
CityName="@this.selectedCity"
SearchFilter="@searchFilter"></ServerListComponent>

<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
	private string selectedCity = "Toronto";
	private string searchFilter = "";

	private CityListComponent? cityListComponent;
	private SearchComponent? searchComponent;

	private void HandleCitySelection(string cityName) {
		selectedCity = cityName;
		this.searchFilter = string.Empty;
		searchComponent?.ClearSearchFilter();
	}

	private void HandleSearch(string searchFilter)
	{
		this.searchFilter = searchFilter;
		cityListComponent?.ClearSelection();
	}
}
